@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  color: #9ff;
  font-size: 2.5rem;
}

pre {
  max-width: 750px;
  min-height: 5rem;
}

.screen {
  background: url("../src/assets/img/office/desk_01.png");
  background-size: contain;
  width: 750px;
  max-width: 750px;
  height: 421px;
}

.debug {
  background-color: #0088ff44;
  font-size: 1rem;
}

.interact {
  position: relative;
  content: " ";
  margin: 0;
}

#poster {
  top: 27.325%;
  left: 29.325%;
  width: calc(750 / 1536 * 25%);
  height: calc(750 / 1536 * 39%);
}

#monitor {
  top: 20.325%;
  left: 38.725%;
  width: calc(750 / 1536 * 49%);
  height: calc(750 / 1536 * 52%);
}

#fruit {
  top: 12.325%;
  left: 63.725%;
  width: calc(750 / 1536 * 24%);
  height: calc(750 / 1536 * 25%);
}

#phone {
  top: 9.325%;
  left: 68%;
  width: calc(750 / 1536 * 17%);
  height: calc(750 / 1536 * 25%);
}

#note {
  top: -38.675%;
  left: 52%;
  width: calc(750 / 1536 * 32%);
  height: calc(750 / 1536 * 17%);
}
