@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  color: #9ff;
  font-size: 2.5rem !important;
}

.screen {
  background: url("../src/assets/img/office/desk_01.png");
  background-size: contain;
  width: 750px;
  height: calc(750 / 1536 * 864px);
}

.poster {
  position: relative;
  top: 21.325%;
  left: 32.325%;
  width: calc(750 / 1536 * 100%);
  height: auto;
}

#output {
  min-width: 100%;
  min-height: 5rem;
}
